---
title: aurora wiz
layout: default
bodyClass: page-home
---

<div class="intro pb-4">
  <div class="container">
    <h1>aurora wiz</h1>
    <p class="bold">企業の個人データマネジメントを簡単かつ安全にし、デジタル時代のビジネス変革のドライバーに</p>
  </div>
</div>

<div class="container pt-2">
  <div class="call">
    <div class="call-box-top">
      <div class="call-phone"><strong>Business: </strong> {{ site.data.contact.businessName }} </div>
      <div class="call-phone"><strong>Phone: </strong> {{ site.data.contact.phone }} </div>
      <div class="call-email"><strong>Email: </strong>
        <a href="mailto:{{ site.data.contact.email }}">
          {{ site.data.contact.email }}
        </a>
      </div>
    </div>
    <div class="call-box-bottom">
      <a href="{{site.baseurl}}/contact" class="button">Contact</a>
    </div>
  </div>
</div>

<div id="why" class="container pt-8 pt-md-10">
  <div class="row justify-content-center">
    <div class="col-12">
      <h2 class="title-3 text-dark mb-3">Why Aurora Wiz</h2>
    </div>
    <div class="col-10 text-center mt-2">
      <p>私たちは、企業が個人データの問題を採用するための設計と一括データプライバシースキームに焦点を当て、豊富なPDSのOSSの開発/構築ノウハウやグローバル関連テック企業やNGO組織とのリレーションを生かし、ビジネスサイドのデジタルサービスで個人データを簡単に操作できるように実現させる</p>
    </div>
  </div>
</div>

<div id="services" class="container pt-8 pt-md-10">
  <div class="row justify-content-center">
    <div class="col-12">
      <h2 class="title-3 text-dark">Services</h2>
    </div>
    <div class="col-10 text-center mt-2">
      <h3 class="title-4 text-dark mb-2">個人データ管理の導入サポート</h3>
      <p>企業がデジタルシステム上の個人データの利活用方法を柔軟に対応可能になり、個人ユーザに信頼/安心を提供できるようなデジタルサービスの提供を実現させる</p>
    </div>
    {% for service in site.data.services01 %}
    <div class="col-12 col-md-6 col-lg-4 mb-2">
      <div class="feature">
        {% if service.image %}<div class="feature-image"><img alt="{{ service.title }} logo" src="{{ service.image }}" /></div> {% endif %}
        <h2 class="feature-title">{{ service.title }}</h2>
        <div class="feature-content">{{ service.description }}</div>
      </div>
    </div>
    {% endfor %}
    <div class="col-10 text-center mt-2">
      <h3 class="title-4 text-dark mb-2">ビジネス開発ハブ</h3>
      <p>我々は、様々なビジネスサイドのプレイヤー協調するための“Hub”となり、からのデジタルプロダクト/サービスを世の中に変革を生み出し続けるための環境作り、実行サポートなどを行う</p>
    </div>
    {% for service in site.data.services02 %}
    <div class="col-12 col-md-6 col-lg-4 mb-2">
      <div class="feature">
        {% if service.image %}<div class="feature-image"><img alt="{{ service.title }} logo" src="{{ service.image }}" /></div> {% endif %}
        <h2 class="feature-title">{{ service.title }}</h2>
        <div class="feature-content">{{ service.description }}</div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div id="partners" class="container pt-5 pb-5 pt-md-7 pb-md-7">
  <div class="row justify-content-center">
    <div class="col-12">
      <h2 class="title-3 text-dark  mb-3">Partners</h2>
    </div>
    {% for partner in site.data.partners %}
    <div class="col-12 col-md-6 col-lg-4 mb-2">
      <div class="partner">
        {% if partner.image %}<div class="partner-image"><img alt="{{ partner.name }} logo" src="{{ partner.image }}" /></div> {% endif %}
        <h2 class="partner-title">{{ partner.name }}</h2>
        <div class="partner-content">{{ partner.url }}</div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>