---
title: Team
layout: default
bodyClass: page-team-list
---
<script src="https://kit.fontawesome.com/e0c4b436f2.js" crossorigin="anonymous"></script>
<div class="intro">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Meet The Team</h1>
        <p class="bold">
          
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container pt-8 pt-md-10">
  <div class="row justify-content-center">
    <div class="col-12">
      <h2 class="title-3 text-dark mb-3">設立の思い</h2>
    </div>
    <div class="col-12 text-center mb-3">
      <p>コロナにより社会、ビジネス、人と人のかかわり方、考え方などが変化してゆき、よりデジタルに依存し、よりデジタルを活用したNew Normalに対応せざるを得ないのが現実です。その中で個人情報などはますますデジタルに集約し、ビジネスにて活用されてゆくことになります。われわれはこの流れの中、より個人が自分のデータをコントロールできるようなデジタル管理の仕組みを構築すべきと考えます。そして、ビジネスサイドと一緒に個人データのあり方をRethinkし、それにあったデジタルの仕組みをRebuild/Deployすることをサポートしてゆきたいと考えています。</p>
    </div>
  </div>
</div>

<div class="container pt-3 pb-6">
  <div class="row">
    {% for team in site.team %}
    <div class="col-12 col-md-6 mb-1">
      <div class="team team-summary">
        {% if team.image %}
        <div class="team-image">
          <img
            alt="{{ team.title }} logo"
            class="img-fluid mb-2"
            src="{{site.baseurl}}{{ team.image }}"
          />
        </div>
        {% endif %}
        <div class="team-meta">
          <h2 class="team-name">{{ team.title }}</h2>
          <p class="team-description">{{ team.jobtitle }}</p>
          {% if team.linkedinurl %}
          <a target="_blank" href="{{ team.linkedinurl }}"><i class="fab fa-linkedin fa-2x"></i></a> 
          {% endif %}
          {% if team.twitterurl %}
          <a target="_blank" href="{{ team.twitterurl }}"><i class="fab fa-twitter-square fa-2x"></i></a> 
          {% endif %}
        </div>
        <div class="team-content">{{ team.content }}</div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
