<div id="main-menu-mobile" class="main-menu-mobile">
  <ul>
    <li><a href="{{site.baseurl}}/" class="{% if page.url == '/' %}current{% endif %}">Home</a></li>
    <li><a href="{{site.baseurl}}/#why" class="{% if page.url contains 'why' %}current{% endif %}">Why AuroraWiz</a></li>
    <li><a href="{{site.baseurl}}/#services" class="{% if page.url contains 'services' %}current{% endif %}">Services</a></li>
    <li><a href="{{site.baseurl}}/#partners" class="{% if page.url contains 'partners' %}current{% endif %}">Partners</a></li>
    <li><a href="{{site.baseurl}}/team/" class="{% if page.url contains 'team' %}current{% endif %}">Team</a></li>
  </ul>
</div>