<div id="main-menu-mobile" class="main-menu-mobile">
  <ul>
    <li><a href="{{site.baseurl}}/" class="{% if page.url == '/' %}current{% endif %}">home</a></li>
    <li><a href="{{site.baseurl}}/#why" class="{% if page.url contains 'why' %}current{% endif %}">why aurora wiz</a></li>
    <li><a href="{{site.baseurl}}/#services" class="{% if page.url contains 'services' %}current{% endif %}">services</a></li>
    <li><a href="{{site.baseurl}}/#partners" class="{% if page.url contains 'partners' %}current{% endif %}">partners</a></li>
    <li><a href="{{site.baseurl}}/team/" class="{% if page.url contains 'team' %}current{% endif %}">team</a></li>
  </ul>
</div>