<div id="main-menu" class="main-menu">
  <ul>
    <li><a href="{{site.baseurl}}/" class="text-lowercase {% if page.url == '/' %}current{% endif %}">home</a></li>
    <li><a href="{{site.baseurl}}/#why" class="text-lowercase {% if page.url contains 'why' %}current{% endif %}">why aurora wiz</a></li>
    <li><a href="{{site.baseurl}}/#services" class="text-lowercase {% if page.url contains 'services' %}current{% endif %}">services</a></li>
    <li><a href="{{site.baseurl}}/#partners" class="text-lowercase {% if page.url contains 'partners' %}current{% endif %}">partners</a></li>
    <li><a href="{{site.baseurl}}/team/" class="text-lowercase {% if page.url contains 'team' %}current{% endif %}">team</a></li>
  </ul>
</div>